<div class="container mini-container">
    <h2>Edit Project</h2>
    <section class="project-edit">
        <div class="alert alert-warning">
            <div class="form-group">
                <label class="control-label" for="project-name">Project Name</label>
                <input class="form-control" type="text" id="project-name" ng-model="project.name">
            </div>
            <button class="btn btn-success" ng-click="updateProject()"> <i class="fa fa-check-circle-o"></i> Update Project</button>
        </div>
    </section>
</div>