<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                ProjectHub
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-text" ng-cloak ng-show="auth.authenticated"><img class="img-circle" ng-src="{{auth.image}}" alt=""><span ng-bind="auth.name"></span></li>
                <li ng-cloak ng-show="auth.authenticated">
                    <a ng-click="logout()"> <i class="fa fa-sign-out"></i> Log out</a>
                </li>
                <li href="#/app" class="page-scroll" ng-cloak ng-hide="auth.authenticated">
                    <a ng-click="login()">Sign in with Github</a>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ss14-team-32.divshot.io" data-text="Check out ProjectHub by Eman" data-via="staticshowdown">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>