<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Tool for keeping track of the progress of a design projects.</h1>
                    <p class="intro-text">
                    We have created a new product that will help designers, developers and companies to
                    share and visualize the  project design with clients.
                    </p>
                    <div class="page-scroll">
                        <a  href="#/app" class="btn btn-default btn-lg" ng-click="login()"><i class="fa fa-github fa-fw"></i> <span class="network-name">Sign in with Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="what" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is ProjectHub?</h2>
                <p>
                    When we work with design projects, we have lot of discussion and documents flow through mail. We want to refer some discussion and its documents, we have to go
                    through all list of mails. ProjectHub is place where you can clear time line of
                    your projects, documents and discussion of the every single aspects happened
                    in your design projects.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="features" class="content-section features">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Features</h2>
            <div class="col-sm-3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
                </span>
                <p>Serves as a centralized place for the project's key design/development materials</p>
            </div>
            <div class="col-sm-3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                </span>
                <p>Easily and visually view project progress</p>
            </div>
            <div class="col-sm-3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
                </span>
                <p>Provides an archive for project artifacts</p>
            </div>
            <div class="col-sm-3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                </span>
                <p>Keep clients and team members up to speed with design progress</p>
            </div>
        </div>
    </div>
</section>

<section id="callout" class="content-section callout">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <span>Interested? Sign-up now and start your first project.</span>
                <a href="#/app" class="btn btn-default btn-lg" ng-click="login()"><i class="fa fa-github fa-fw"></i> <span class="network-name">Sign in with Github</span></a>
            </div>
        </div>
    </div>
</section>